
/*  
 
.Main a{
    float: left;
 
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    border: 10cm 10cm;
    margin: 1% 1;
}
.ab{
    background-image: "../assets/BookLogo.png";
   
}
.ImgClass{
    padding: 100;
    border: 1;
    background-color: aqua;
    color: brown;
}
.a{
padding: 10% 10%; 
margin: 1% 1%;
}
.mainDiv{
    background-color: green;
    border: 10cm 10cm;
    color: aqua;
    padding:4% 3%;
    margin: 1% 1%;
} */
header{
    /* margin: 1% 1% 3% 1%; */
    margin: 1em;
    border: 1em solid red;
    border-bottom-color: aqua ;
}


.logo{
     
    padding: 4px 10px 1px 20px;
    border: 1ch solid black;
    border-bottom-color : red;
    margin:2% 80% 2% 2%;

}

.Content{
    margin: 1px; 
    border: 1ch solid ;
    border-color: blueviolet;
    padding: 10%;
}
.Tags{
    padding: 4px 10px 1px 20px;
    border: 1ch solid black;
    border-bottom-color : red;
    margin:2% 80% 2% 2%;
}
.Main a{
    float: left;
    margin: 1em;
    border: 1em solid red;
    border-bottom-color: aqua ;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    /* border: 10cm 10cm; */
    /* margin: 1% 1; */
}